<%= form_for @user, html: {role: 'form', autocomplete: "off"} do |f| %>
  <div class="form-group">
    <%= f.label :username, class: 'sr-only' %>
    <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'sr-only' %>
    <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :github_username, class: 'sr-only' %>
    <%= f.text_field :github_username, placeholder: "Github username (optional)", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tagline, class: 'sr-only' %>
    <%= f.text_area :tagline, rows: 2, placeholder: "Tagline - sum yourself up here", class: 'form-control' %>
  </div>
  <br/>
    <%= f.submit @user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-success btn-block' %>
<% end %>