<div class="col-md-12">
  <%= render 'shared/header', title: 'Notifications' %>
</div>

<div class="notification-container">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li class=<%= 'active' if params[:tab].nil? %>>
        <%= link_to notifications_path do %>
          Unread <span class="badge pull-right"><%= current_user.new_notification_count %></span>
        <% end %>
      </li>
      <li class=<%= 'active' if params[:tab] == 'read' %>>
        <%= link_to notifications_path(tab: 'read') do %>
          Awaiting Action <span class="pull-right badge"><%= current_user.read_request_count %></span>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="col-md-9 notification-panel">
    <% if params[:tab].nil? %>
      <% if current_user.new_notification_count.zero? %>
          <div class="empty-message text-center text-muted">
            <span class="glyphicon glyphicon-inbox glyphicon-lg"></span>
            <br/>
            <h4>You have no unread notifications</h4>
          </div>
      <% else %>
        <% current_user.fresh_open_in_requests.each do |request| %>
          <p><%= link_to request.sender.username, user_path(request.sender) %> has requested contribution status on <%= link_to request.goal.title, goal_path(request.goal) %><p> |
          <%= link_to 'Accept', accept_goal_contribution_request_path(request.goal, request), method: 'patch' %> |
          <%= link_to 'Reject', reject_goal_contribution_request_path(request.goal, request), method: 'patch' %> |
          <%= link_to 'Decide Later', read_goal_contribution_request_path(request.goal, request), method: 'patch' %>
        <% end %>
        <% current_user.fresh_closed_out_requests.each do |request| %>
          <p>Your request for contribution status on <%= link_to request.goal.title, goal_path(request.goal) %> was <%= request.accepted ? 'accepted' : 'rejected' %></p>
          <%= link_to 'Destroy', goal_contribution_request_path(request.goal, request), method: 'delete' %>
        <% end %>
      <% end %>


    <% end %>

    <% if params[:tab] == 'read' %>
      <% current_user.open_in_requests.each do |request| %>
        <p><%= link_to request.sender.username, user_path(request.sender) %> has requested contribution status on <%= link_to request.goal.title, goal_path(request.goal) %><p> |
        <%= link_to 'Accept', accept_goal_contribution_request_path(request.goal, request), method: 'patch' %> |
        <%= link_to 'Reject', reject_goal_contribution_request_path(request.goal, request), method: 'patch' %>
      <% end %>
      <% current_user.closed_out_requests.each do |request| %>
        <p>Your request for contribution status on <%= request.goal.title %> was <%= request.accepted ? 'accepted' : 'rejected' %></p>
        <%= link_to 'Destroy', goal_contribution_request_path(request.goal, request), method: 'delete' %>
      <% end %>
    <% end %>

    <% if current_user.pinched_notifications.any? %>
      <% current_user.pinched_notifications.each do |pinched_notif| %>
        <p><%= link_to pinched_notif.pincher.username, user_path(pinched_notif.pincher) %> pinched <%= link_to pinched_notif.goal.title, goal_path(pinched_notif.goal) %> on <%= display_datetime(pinched_notif.created_at) %><p>
        <%= link_to 'Destroy', pinch_notification_path(pinched_notif), method: 'delete' %>
      <% end %>
    <% end %>

  </div>
</div>


