<div class="col-md-12">
  <%= render 'shared/header', title: 'Notifications' %>
</div>

<div class="notification-container">
  
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li class=<%= 'active' if params[:tab].nil? %>>
        <%= link_to notifications_path do %>
          Unread <span class="badge pull-right"><%= current_user.new_notification_count %></span>
        <% end %>
      </li>
      <li class=<%= 'active' if params[:tab] == 'read' %>>
        <%= link_to notifications_path(tab: 'read') do %>
          Awaiting Action <span class="pull-right badge"><%= current_user.read_request_count %></span>
        <% end %>
      </li>
    </ul>
  </div>


<div class="col-md-9 notification-panel">

              
  <% if params[:tab].nil? %>
    <div class="table-responsive">
      <table id="mytable" class="table table-striped">
        <% if current_user.new_notification_count.zero? %>
          <div class="empty-message text-center text-muted">
            <span class="glyphicon glyphicon-inbox glyphicon-lg"></span>
            <br/>
            <h4>You have no unread notifications</h4>
          </div>
        <% end %>
        <% if !current_user.new_notification_count.zero? || current_user.pinched_notifications.any? %>
          <thead>
            <th>Sender</th>
            <th>Message</th>
            <th>Sent</th>
            <th>Options</th>
          </thead>
        <% end %>

        <tbody>

          <% if !current_user.new_notification_count.zero? %>
            <% current_user.incoming_contribution_requests_pending_unread.each do |request| %>
              <tr>
                <td><%= link_to request.sender.username, user_path(request.sender) %></td>
                <td class=""> I'd like to be a contributor to <%= link_to request.goal.title, goal_path(request.goal) %></td>
                <td><%= display_datetime(request.created_at) %></td>
                <td>
                  <%= link_to 'Accept', accept_goal_contribution_request_path(request.goal, request), method: 'patch', class: 'btn btn-success' %>
                  <%= link_to 'Reject', reject_goal_contribution_request_path(request.goal, request), method: 'patch', class: 'btn btn-danger' %>
                  <%= link_to 'Decide Later', mark_as_read_goal_contribution_request_path(request.goal, request), method: 'patch', class: 'btn btn-default' %>
                </td>
              </tr>
            <% end %>
            
            <% current_user.outgoing_contribution_requests_accepted_unread.each do |request| %>
              <tr>
                <td><%= link_to request.recipient.username, user_path(request.recipient) %></td>
                <td class="">Your request for contribution status on <%= link_to request.goal.title, goal_path(request.goal) %> was <%= request.accepted ? 'accepted' : 'rejected' %></td>
                <td><%= display_datetime(request.created_at) %></td>
                <td><%= link_to 'Okay', goal_contribution_request_path(request.goal, request), method: 'delete', class: 'btn btn-default' %></td>
              </tr>
            <% end %>
          <% end %>

          <% if current_user.pinched_notifications.any? %>
            <% current_user.pinched_notifications.each do |pinched_notif| %>
              <tr>
                <td><%= link_to pinched_notif.pincher.username, user_path(pinched_notif.pincher) %></td>
                <td class="">Hey, I pinched your goal <%= link_to pinched_notif.goal.title, goal_path(pinched_notif.goal) %></td>
                <td><%= display_datetime(pinched_notif.created_at) %></td>
                <td><%= link_to 'Okay', pinch_notification_path(pinched_notif), method: 'delete', class: 'btn btn-default' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if params[:tab] == 'read' %>
    <div class="table-responsive">
      <table id="mytable" class="table table-striped">

        <% if !current_user.read_request_count.zero? || current_user.incoming_contribution_requests_pending_read.any? %>
          <thead>
            <th>Sender</th>
            <th>Message</th>
            <th>Sent</th>
            <th>Options</th>
          </thead>
        <% end %>
      
        <tbody>

          <% if current_user.read_request_count.zero? %>
              <div class="empty-message text-center text-muted">
                <span class="glyphicon glyphicon-ok glyphicon-lg glyphicon-success"></span>
                <br/>
                <h4>Relax - you've taken care of everything.</h4>
              </div>
          <% end %>

          <% current_user.incoming_contribution_requests_pending_read.each do |request| %>
            <tr>
              <td><%= link_to request.sender.username, user_path(request.sender) %></td>
              <td class=""> has requested contribution status on <%= link_to request.goal.title, goal_path(request.goal) %></td>
              <td><%= display_datetime(request.created_at) %></td>
              <td>
              <%= link_to 'Accept', accept_goal_contribution_request_path(request.goal, request), method: 'patch', class: 'btn btn-success' %>
              <%= link_to 'Reject', reject_goal_contribution_request_path(request.goal, request), method: 'patch', class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  <% end %>


</div>



