<%= render 'shared/header', title: "#{@user.username}", subtitle: " - #{@user.tagline}" %>
<div class="row">
<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item list-group-item-padded">
      <img src= <%= @user.gravatar_url %> alt= <%= @user.username %> class="img-responsive img-circle center-block">
    </li>
    <li class="list-group-item clearfix">
      <span class="badge"><%= @user.username %></span>
      Username
    </li>
    <li class="list-group-item">
      <span class="badge"><%= display_datetime(@user.created_at) %></span>
      Joined
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @user.public_goals.size %></span>
      Goals created
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @user.goals_contributing_to.size %></span>
      Goals contributing to
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @user.pinches.size %></span>
      Pinches
    </li>
    <% if @user.github_username_provided? %>
      <li class="list-group-item list-group-item-link">
        <span class="badge"><%= link_to @user.github_username, to_github_url(@user.github_username), target: 'blank' %></span>
        Github
      </li>
    <% end %>
  </ul>
</div>

<div class="col-md-8 profile">
  <ul class="nav nav-pills">
    <li role="presentation" class=<%= 'active' if params[:tab].nil? %>>
      <%= link_to user_path(@user) do %>
        <span class="glyphicon glyphicon-record glyphicon-pill"></span> Goals
      <% end %>
    </li>
    <li role="presentation" class=<%= 'active' if params[:tab] == 'pinches' %>>
      <%= link_to user_path(@user, tab: 'pinches') do %>
        <span class="glyphicon glyphicon-send glyphicon-pill"></span> Pinched Goals
      <% end %>
    </li>
    <li role="presentation" class=<%= 'active' if params[:tab] == 'contributing' %>>
      <%= link_to user_path(@user, tab: 'contributing') do %>
        <span class="glyphicon glyphicon-pencil glyphicon-pill"></span> Contributing To
      <% end %>
    </li>
  </ul>

  <br/>

  <% if params[:tab].nil? %>
    <% @user.public_goals.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
  <% if params[:tab] == 'pinches' %>
    <% @user.pinches.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
  <% if params[:tab] == 'contributing' %>
    <% @user.goals_contributing_to.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
</div>
</div>