<%= render 'shared/header', title: 'Your Profile', subtitle: "#{@user.tagline}" %>

<div class="col-md-3 panel panel-default">
  <br/>
  <img src="http://www.gravatar.com/avatar/fb38af3bfd0f713a90173e221dfaba24.png" alt="Picture of LSB" class="img-responsive img-circle center-block">
  <br/>
  <br/>
  <dl class="list-group">
    <span class="list-group-item">
      <dt>Username: </dt>
      <dd><%= @user.username %></dd>
    </span>
    <span class="list-group-item">
      <dt>Member Since: </dt>
      <dd><%= display_datetime(@user.created_at) %></dd>
    </span>
    <span class="list-group-item">
      <dt>Goals Created: </dt>
      <dd><%= @user.public_goals.size %></dd>
    </span>
    <span class="list-group-item">
      <dt>Pinches: </dt>
      <dd><%= @user.pinches.size %></dd>
    </span>
  </dl>
</div>

<div class="col-md-9">
  <ul class="nav nav-tabs">
    <li role="presentation" class=<%= 'active' if params[:tab].nil? %>>
      <%= link_to 'Goals', user_path(@user) %>
    </li>
    <li role="presentation" class=<%= 'active' if params[:tab] == 'pinches' %>>
      <%= link_to 'Pinches', user_path(@user, tab: 'pinches') %>
    </li>
    <li role="presentation" class=<%= 'active' if params[:tab] == 'contributing' %>>
      <%= link_to 'Contributing', user_path(@user, tab: 'contributing') %>
    </li>
  </ul>

  <br/>

  <% if params[:tab].nil? %>
    <% @user.public_goals.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
  <% if params[:tab] == 'pinches' %>
    <% @user.pinches.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
  <% if params[:tab] == 'contributing' %>
    <% @user.contributing_goals.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
</div>