<%= render 'shared/header', title: "#{@user.username}", subtitle: " - #{@user.tagline}" %>

<div class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item list-group-item-padded">
      <img src= <%= @user.gravatar_url %> alt= <%= @user.username %> class="img-responsive img-circle center-block">
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @user.username %></span>
      Username
    </li>
    <li class="list-group-item">
      <span class="badge"><%= display_datetime(@user.created_at) %></span>
      Joined
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @user.public_goals.size %></span>
      Goals Created
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @user.pinches.size %></span>
      Pinches
    </li>
  </ul>
</div>

<div class="col-md-9 profile">
  <ul class="nav nav-pills">
    <li role="presentation" class=<%= 'active' if params[:tab].nil? %>>
      <%= link_to user_path(@user) do %>
        <span class="glyphicon glyphicon-record glyphicon-md"></span> Goals
      <% end %>
    </li>
    <li role="presentation" class=<%= 'active' if params[:tab] == 'pinches' %>>
      <%= link_to user_path(@user, tab: 'pinches') do %>
        <span class="glyphicon glyphicon-send glyphicon-md"></span> Pinched Goals
      <% end %>
    </li>
    <li role="presentation" class=<%= 'active' if params[:tab] == 'contributing' %>>
      <%= link_to user_path(@user, tab: 'contributing') do %>
        <span class="glyphicon glyphicon-pencil glyphicon-md"></span> Contributing To
      <% end %>
    </li>
  </ul>

  <br/>

  <% if params[:tab].nil? %>
    <% @user.public_goals.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
  <% if params[:tab] == 'pinches' %>
    <% @user.pinches.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
  <% if params[:tab] == 'contributing' %>
    <% @user.contributing_goals.each do |goal| %>
      <%= render 'goals/goal', goal: goal %>
    <% end %>
  <% end %>
</div>