<% show_visibility ||= false %>

<div class="panel panel-default goal-panel">
  <div class="panel-heading">
    <span class="category"><%= link_to goal.category.name, category_path(goal.category) %></span>
    <span class="pull-right color-hot info-glyph">
      <span class="glyphicon glyphicon-heart" data-toggle="tooltip" data-placement="top" title= <%= goal.total_likes %> >
      </span>
    </span>
    <span class="pull-right color-hot info-glyph">
      <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="top" title= <%= goal.contributor_count %> >
      </span>
      <span class="glyphicon glyphicon-file" data-toggle="tooltip" data-placement="top" title= <%= goal.learning_resource_count %> >
      </span>
    </span>
  </div>

  <div class="panel-body">
    <div class="goal-body">
      <div class="new-goal">
        <% if goal.days_ago_added_less_than?(2) %>
          <span class="label label-hot">This goal is brand new</span>
        <% end %>
        <% if show_visibility %>
          <% if goal.visibility == 'public' %>
            <span class="label label-public"><%= goal.visibility %></span>
          <% else %>
            <span class="label label-private"><%= goal.visibility %></span>
          <% end %>
        <% end %>
      </div>
      <h4 class="goal-title"><%= link_to goal.title, goal_path(goal) %></h4>
      <p><%= goal.description %></p>
      <% if !show_visibility %>
        <small>Created by <%= link_to goal.creator.username, user_path(goal.creator) %></small>
      <% end %>
    </div>

    <br/>
    <br/>

    <% if logged_in? %>

      <span id="goal-buttons-open" class="glyphicon glyphicon-cog pull-left"></span>
      <span id="goal-buttons-close" class="glyphicon glyphicon-chevron-left pull-right"></span>

      <div id="goal-buttons">
        <% if current_user == goal.creator %>
          <%= link_to edit_goal_path(goal), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-md glyphicon-wrench"></span> Edit
          <% end %>
        <% end %>
        
        <% if goal.pincher?(current_user) %>
          <%= link_to drop_goal_path(goal), method: 'post', class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-md glyphicon-trash"></span> Drop
          <% end %>
          <% if !goal.contributor?(current_user) && goal.contribution_request_pending?(current_user) %>
            <%= link_to goal_contribution_requests_path(goal), method: 'post', class: 'btn btn-success-disabled' do %>
              <span class="glyphicon glyphicon-md glyphicon-pencil"></span> Pending...
            <% end %>
          <% elsif !goal.contributor?(current_user) %>
            <%= link_to goal_contribution_requests_path(goal), method: 'post', class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-md glyphicon-pencil"></span> Contribute
            <% end %>
          <% end %>
        <% end %>

        <% if current_user == goal.creator || goal.contributor?(current_user) %>
          <%= link_to new_goal_learning_resource_path(goal), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-md glyphicon-plus-sign"></span> Add resource
          <% end %>
        <% end %>

        <% if !goal.pincher?(current_user) && current_user != goal.creator %>
          <%= link_to pinch_goal_path(goal), method: 'post', class: 'btn btn-pinch' do %>
            <span class="glyphicon glyphicon-md glyphicon-send"></span> Pinch
          <% end %>
        <% end %>
      </div>

    <% end %>
  </div> 
</div>

<br/>