<% show_visibility ||= false %>

<div class="panel panel-default goal-panel">
  <div class="panel-heading">
    <span class="category"><%= link_to goal.category.name, category_path(goal.category) %></span>
    <span class="pull-right color-hot info-glyph">
      <span class="glyphicon glyphicon-heart" data-toggle="tooltip" data-placement="top" title= <%= goal.total_likes %> >
      </span>
    </span>
    <span class="pull-right color-hot info-glyph">
      <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="top" title= <%= goal.contributor_count %> >
      </span>
      <span class="glyphicon glyphicon-file" data-toggle="tooltip" data-placement="top" title= <%= goal.learning_resource_count %> >
      </span>
    </span>
  </div>

  <div class="panel-body">
    <div class="goal-body">
      <div class="new-goal">
        <% if goal.days_ago_added_less_than?(1) %>
          <span class="label label-hot">This goal is brand new</span>
        <% end %>
        <% if show_visibility %>
          <% if goal.visibility == 'public' %>
            <span class="label label-public"><%= goal.visibility %></span>
          <% else %>
            <span class="label label-private"><%= goal.visibility %></span>
          <% end %>
        <% end %>
      </div>
      <h4 class="goal-title"><%= link_to goal.title, goal_path(goal) %></h4>
      <p><%= goal.description %></p>
      <% if !show_visibility %>
        <small>Created by <%= link_to goal.creator.username, user_path(goal.creator) %></small>
      <% end %>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="row col-md-12">
      <%= render 'goals/option_buttons', goal: goal %>
    </div>


  </div> 
</div>

<br/>