<% show_visibility ||= false %>

<div class="well">
  <span class="badge"><%= link_to goal.category.name, category_path(goal.category) %></span>
  <% if show_visibility %>
    <span class="pull-right label label-<%= goal.visibility == 'public' ? 'success' : 'primary' %>"><%= goal.visibility %></span>
  <% elsif goal.days_ago_added_less_than?(2) %>
    <span class="pull-right label label-hot">New</span>
  <% end %>

  <h4 class="goal-title"><%= link_to goal.title, goal_path(goal) %></h4>
  <p><%= goal.description %></p>
  <small>Created by <%= link_to goal.creator.username, user_path(goal.creator) %></small>
  <br/>
  <br/>
  <p><strong><%= goal.no_learning_resources? ? 'No' : goal.learning_resource_count %> learning resources available</strong></p>
  <p><strong>Pinchers: <%= goal.pincher_count %></strong></p>
  <p><strong>Contributors: <%= goal.contributor_count %></strong></p>
  <p><strong>Total likes: <%= goal.total_likes %></strong></p>

  <br/>

<% if logged_in? %>

  <% if current_user == goal.creator %>
    <%= link_to edit_goal_path(goal), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-md glyphicon-wrench"></span> Edit
    <% end %>
  <% end %>
  
  <% if goal.pincher?(current_user) %>
    <%= link_to drop_goal_path(goal), method: 'post', class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-md glyphicon-trash"></span> Drop
    <% end %>
    <% if !goal.contributor?(current_user) && goal.contribution_request_pending?(current_user) %>
      <%= link_to goal_contribution_requests_path(goal), method: 'post', class: 'btn btn-success-disabled' do %>
        <span class="glyphicon glyphicon-md glyphicon-pencil"></span> Request Pending...
      <% end %>
    <% else %>
      <%= link_to goal_contribution_requests_path(goal), method: 'post', class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-md glyphicon-pencil"></span> Contribute
      <% end %>
    <% end %>
  <% end %>

  <% if current_user == goal.creator || goal.contributor?(current_user) %>
    <%= link_to new_goal_learning_resource_path(goal), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-md glyphicon-plus-sign"></span> Add resource
    <% end %>
  <% end %>

  <% if !goal.pincher?(current_user) && current_user != goal.creator %>
    <%= link_to pinch_goal_path(goal), method: 'post', class: 'btn btn-pinch' do %>
      <span class="glyphicon glyphicon-md glyphicon-send"></span> Pinch
    <% end %>
  <% end %>

<% end %>
</div>

<br/>