<span class="badge"><%= goal.category.name %></span>
<span class="pull-right label label-<%= goal.visibility == 'public' ? 'success' : 'primary' %>"><%= goal.visibility %></span>

<h4><%= goal.title %></h4>
<p><%= goal.description %></p>
<small>Created by <%= link_to goal.creator.username, user_path(goal.creator) %></small>
<br/>
<br/>
<p><strong><%= goal.learning_resources.size %> learning resources available</strong></p>
<p><strong>Pinchers: <%= goal.pincher_count %></strong></p>
<p><strong>Contributors: <%= goal.contributor_count %></strong></p>


<%= link_to 'View Goal', goal_path(goal) %> |
<% if logged_in? %>
  <%= link_to 'Edit', edit_goal_path(goal) if current_user == goal.creator %> |
  <% if !goal.pincher?(current_user) %>
    <%= link_to 'Pinch', pinch_goal_path(goal), method: 'post' if current_user != goal.creator %> |
  <% else %>
    <%= link_to 'Drop', drop_goal_path(goal), method: 'post' if current_user != goal.creator %> |
    <%= link_to 'Request Contributor Status', goal_contribution_requests_path(goal), method: 'post' if current_user != goal.creator %>
  <% end %>
  <%= link_to 'Add Resource', new_goal_learning_resource_path(goal) if current_user == goal.creator || goal.contributor?(current_user) %> |
<% end %>
<br/>
<hr>
<br/>