<%= render 'shared/header', title: 'All Goals' %>

<% @goals.each do |goal| %>
  <ul>
    <li>Category: <%= goal.category.name %></li>
    <li>This goal is <%= goal.visibility ? 'public' : 'private' %></li>
    <li><%= goal.title %></li>
    <li><%= goal.description %></li>
    <li>Created by: <%= goal.creator.username %></li>
  </ul>

  <h4>Resources</h4>
  <ul>
    <% goal.learning_resources.each do |resource| %>
      <li><%= resource.summary %></li>
      <li><%= resource.url %></li>
    <% end %>
  </ul>

  <h4>Users who have pinched this Goal</h4>
  <ul>
    <% goal.pinchers.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
  </ul>
<% end %>