<%= render 'shared/header', title: "#{@goal.title}" %>

<p><%= @goal.description %></p>

<h4>Resources</h4>

<ul>
  <% @goal.learning_resources.each do |resource| %>
    <li><%= resource.summary %></li>
    <li><%= resource.url %></li>
    <li>Likes: <%= resource.likes.size %></li>
    <%= link_to 'Like this resource', like_goal_learning_resource_path(resource.goal, resource), method: 'post' %>
    <br/>
  <% end %>
</ul>