<%= render 'shared/header', title: "#{@goal.title}" %>

<p class="lead"><%= @goal.description %></p>

<br/>
<br/>

<div class="row">
  <div class="col-md-12">
    <% if @goal.creator != current_user %>
      <h4 class="generic-subheading">Creator</h4>
      <br/>
      <%= link_to @goal.creator.username, user_path(@goal.creator) %>
      <br/>
      <br/>
    <% end %>

    <h4 class="generic-subheading">Contributors</h4>
    </br>
    <% if @goal.contributors.any? %>
      <ul>
        <% @goal.contributors.each do |user| %>
          <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted">This goal doesn't have any other contributors yet...</p>
    <% end %>

    <h4 class="generic-subheading">Resources</h4>
    <br/>
    <div class="row">
      <% @goal.learning_resources.each do |resource| %>
        <div class="col-lg-3 col-md-4 col-sm-6 goal-grid">
          <div class="well panel">
            <div class="resource-content">
              <p><%= resource.summary %></p>
              <p><small>Submitted by <%= link_to resource.submitter.username, user_path(resource.submitter) %></small></p>
              <p><%= resource.like_count %> likes</p>
            </div>
            <%= link_to resource.url, class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-eye-open"></span> View
            <% end %>
            <%= link_to like_goal_learning_resource_path(resource.goal, resource), method: 'post', class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-thumbs-up"></span> Like
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


  </div>

<!--   <div class="col-md-4">
    <% if @goal.creator != current_user %>
      <h4 class="generic-subheading">Creator</h4>
      <br/>
      <%= link_to @goal.creator.username, user_path(@goal.creator) %>
      <br/>
      <br/>
      <% end %>
    <h4 class="generic-subheading">Contributors</h4>
    </br>
    <% if @goal.contributors.any? %>
      <ul>
        <% @goal.contributors.each do |user| %>
          <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted">This goal doesn't have any other contributors yet...</p>
    <% end %>
  </div> -->
</div>